<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Exam</title>
  <meta name="author" content="Jayant">
  <meta name="description" content="">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }
  </style>
</head>



<header class="bg-teal-400">
  <nav class="flex justify-end w-full bg-purple-500 text-white p-4">

    <div class="md:items-center md:w-auto flex"></div>

    <div class="flex justify-end text-sm" v-else>
      <div class="flex justify-end ">

        <form method="POST" action="/logout">
          <button name="signout" class="p-2 ml-2 bg-teal-500 text-gray-100 font-semibold leading-none border border-teal-600 rounded hover:border-transparent hover:bg-teal-600"
              type="submit">Log Out</button>
          </form>
      </div>
    </div>
    </div>
  </nav>
</header>
<br>
<main class="flex justify-center items-center">

  <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">View all exam</h1>
</main>
<div class="bottomNav fixed bottom-0 w-full">
  <nav style="border:1px solid blue" class="md:hidden bottom-0 w-full bg-gray-700 text-xs">
  </nav>
</div>


<body bgcolor="#D3D3D3">
  <br>
  <br>
  <form method="POST" action="/exam">
    <div class="flex justify-around">
      <div class="flex">
        <button class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap" type="submit">Delete
          Exam</button>
        <input name="Exam_name" class="border border-2 rounded-r px-4 py-2 w" type="text" placeholder="Exam Name" />
      </div>
  </form>
  <a href="/new_exam"><button
      class="bg-gray-700 hover:bg-blue-light text-white font-bold py-2 px-4 border-b-4 border-gray-dark hover:border-black rounded"
      type="submit">
      Create New Exam
    </button></a>


  <form method="POST" action="/abc">
    <div class="flex">
      <button for="answer" class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap"
        type="submit">Status &nbsp</button>
      <select id="optiond" name="status">
        <option value="true">Activate</option>
        <option value="false">Deactivate</option>
      </select>
      <input name="S_name" class="border border-2 rounded-r px-3 py-2 " type="text" placeholder=" Exam Name" />
    </div>
  </form>
  <form method="GET" action="/view-questions">
    <div class="flex">
      <button  class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap"
        type="submit"><a href="/view-questions" >Edit Exam &nbsp </a></button>

      <input name="E_name" class="border border-2 rounded-r px-3 py-2 " type="text" placeholder=" Exam Name" />

    </div>
  </form>
  </div>
  <br>
  <br>


  <div class="flex items-center justify-center">
    <div class="container">
      <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
        <thead class="text-black">
          <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left">Exam Name</th>
            <th class="p-3 text-left">Date</th>
            <th class="p-3 text-left">Exam-Status</th>

          </tr>

        </thead>

        <%examlist.forEach((exam)=> {%>
          <tbody class="flex-1 sm:flex-none">

            <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
              <td class="border-grey-light border hover:bg-gray-100 p-3">
                <p name="name">
                  <%=exam.exam_name%>
                </p>
              </td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">
                <%=exam.exam_date%>
              </td>
              <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">
                <%=exam.exam_status%>
              </td>
            </tr>
          </tbody>
          <%})%>
      </table>
    </div>
  </div>


  <style>
    html,
    body {
      height: 100%;
    }

    @media (min-width: 900px) {
      table {
        display: inline-table !important;
      }

      thead tr:not(:first-child) {
        display: none;
      }
    }

    td:not(:last-child) {
      border-bottom: 0;
    }

    th:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
  </style>


</body>

</html>