<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Test</title>
    <meta name="author" content="Jayant">
    <meta name="description" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body bgcolor-green>
        
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center mx-auto sm:py-12">
    <div class="flex justify-center">
      <div class="h-auto py-20 px-10 w-full bg-indigo-500 flex flex-col space-y-5 mx-auto rounded-3xl shadow-xl hover:rotate-1 transition-transform">
      <h1 class=" font-medium text-white text-2xl tracking-wide">Some Rules of this Quiz</h1>
        <p class="font-normal tracking-wide text-xl text-white lg:w-2/5">1. You will have only <span>30 seconds</span> per each question.</p>
        <p class="font-normal tracking-wide text-xl text-white lg:w-2/5">2. Once you select your answer, it can't be undone.</p>
        <p class="font-normal tracking-wide text-xl text-white lg:w-2/5">3. You can't select any option once time goes off.</p>
        <p class="font-normal tracking-wide text-xl text-white lg:w-2/5">4. You can't exit from this Test</p>
        <p class="font-normal tracking-wide text-xl text-white lg:w-2/5">5. You'll get marks on the basis of your correct answers.</p>

        <div class="flex items-center justify-between">
          <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Exit</button>
          <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Continue</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>