<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <meta name="author" content="Jayant">
    <meta name="description" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>



<header class="bg-teal-400">
    <nav class="flex justify-end w-full bg-purple-500 text-white p-4">

        <div class="md:items-center md:w-auto flex"></div>

        <div class="flex justify-end text-sm" v-else>
            <div class="flex justify-end ">

                <a class="p-2 ml-2 bg-teal-500 text-gray-100 font-semibold leading-none border border-teal-600 rounded hover:border-transparent hover:bg-teal-600"
                    href="/">Log Out</a>
            </div>
        </div>
        </div>
    </nav>
</header>
<br>
<main class="flex justify-center items-center">

    <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">View all Question </h1>
</main>
<div class="bottomNav fixed bottom-0 w-full">
    <nav style="border:1px solid blue" class="md:hidden bottom-0 w-full bg-gray-700 text-xs">
    </nav>
</div>
<br>
<br>
<br>

<body bgcolor="#D3D3D3">

    <div class="flex justify-between  ">
        <a href="/questions"><button class="bg-gray-700 hover:bg-blue-light text-white font-bold py-2 px-4 border-b-4 border-gray-dark hover:border-black rounded" type="submit">
            Add a new Question
        </button></a>
    </div>
   <br>
    <br>
    <div class="flex items-center justify-center">

    <h1 class="sm:text-3xl text-5xl font-medium title-font mb-2 text-gray-900"> Questions </h1>
    </div>
    <div class="flex items-center justify-center">
    
    <br>
    <div class="bg-white rounded md:w-full border shadow-lg">
        <div class="rounded-t bg-teal-500">
          <div class="relative py-3 px-2 flex">
            <span class="font-semibold text-blue md:text-base text-sm">Question 1 &nbsp; &nbsp; </span>
            <p>question ext</p>
            
          </div>
        </div>
        </div>
        
        <div class="flex items-center justify-around">
            <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Delete</button>
            <a href="/edit-question"?><button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Edit</button></a>
          </div>
    <br>
    <br>
   </div>
</div>

</body>

</html>